body {
    background-image: url(Background.jpg);
    background-size: cover;
    height: 100%;
    left: -5px;
    right: -5px;
    top: -5px;
    bottom: -5px;
    position: fixed;
    margin: 0 auto;
}

.header-list a{
    float: left;
    color: #E1D4C5;
    font-size: 40px;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.header-list {
    float: left;
    padding-left: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #021320;
    width: 1698px;
}

.header-list a:hover {
    color: black;
}

.header-list a.home {
    font-size: 50px;
    margin-top: 13px;
    border-radius: 8px;
    padding-left: 10px;
}

.menu a {
    float: right;
    padding-right: 27px;
}

.menu1 div {
    color: white;
    font-size: 20px;
    margin-top: -10px;
    height: auto;
    max-width: 100%;
    position: inherit;
    box-sizing: border-box;
}

.menu1 p {
    padding: 20px;
    font-size: 25px;
    margin-top: -10px;
}

.food1 {
    width: 33.3%;
    float: left;
    text-align: center;
}

.food1 h2 {
    margin-top: 5px;
    font-size: 40px;
}

.img2 {
    margin-top: -15px;
}

.food2 {
    width: 33.3%;
    float: left;
    text-align: center;
}

.food2 h1{
    padding-left: 25px;
}

.food2 h2 {
    margin-top: -25px;
    font-size: 40px;
}

.img4 {
    margin-top: -10px;
}

.food3 {
    width: 33.3%;
    float: left;
    text-align: center;
}

.food3 h2 {
    font-size: 40px;
    margin-top: -10px;
}

.img6 {
    margin-top: -10px;
}