body {
    background: #0000FF;
    color: white;
}

.header {
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
    background-color: #b2222b;
    width: 870px;
    height: 170px;
    text-align: left;
    font-size: 140px;
    padding-left: 10px;
}

.header span{
    font-size: 80px;
}

li {
    font-family: "Encode Sans";
    list-style: none;
    font-size: 45px;
    text-justify: auto;
}